.main-panel {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: fixed;
  }
  
  .main-header {
      color: white;
      padding-top: 0.4%;
      padding-right: 0.4%;
      padding-left: 0.4%;
      padding-bottom: 0.4%;
      font-size: 1.15em; 
      font-family: DAX-CompactRegular;
      position: relative;
      min-height: 50px;
      border-radius: 0;
  }
  
  #main-header-icon {
    display: inline-block;
    width: auto;
    height: 100%;
  }
  
  .main-header .right-menu{
      text-align: right;
  }
  
  #main-content {
      position: relative;
      overflow: hidden;
      padding: 0 20px;
      display: block;
      height: 100%;
  }

  .main-content {
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 5%;
   }

  .main-body {
    position: relative;
    height: 100%;
  }
